* {
box-sizing: border-box;
}
body {
  background-color: #37729b;
  color: white;
}
img {
  max-width: 100%;
}
main {
  width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  display: block;
}

/*=====================CLASSES INSIDE GAME=========================*/

/*=====================TOP PART OF THE GAME========================*/

.topSpacer{
  clear: both;
  background: #0c3855;
  padding: 10px 0;
  margin-bottom: 20px;
}

/*===================MIDDLE PART OF THE GAME=======================*/

.centerArea {
  display: flex;
}

/*=====================LEFT SIDE OF THE GAME======================*/

.leftFiller{
  width: 10%;
  padding: 220px 0;
}

// =====================LEFT CHARACTER==============================

.leftCharacter{
  border: 5px solid black;
  border-radius: 10px;
  width: 27.5%;
  background: url('/images/character-card.jpg');
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
}
.leftPhoto{
  border: 3px solid black;
  margin: 15px 0 auto 15px;
  width: 340px;
  height: 340px;
}
.leftImg{
  width: 340px;
  height: 340px;
}
.leftName{
  color: white;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
}
.leftStats{
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
}
.leftHP{
  margin: auto 10px;
}
.leftHPValue{
  margin: auto 10px;
}
.leftAV{
    margin: auto 10px;
}
.leftAVValue{
  margin: auto 10px;
}
.leftDV{
    margin: auto 10px;
}
.leftDVValue{
  margin: auto 10px;
}
.leftHV{
  margin: auto 10px;
}
.leftHVValue{
  margin: auto 10px;
}
.leftButtons{
    margin: 15px 10px;
    display: flex;
    justify-content: space-around;
}
.leftAttackButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}
.leftChargeButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}
.leftHealButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}

// ============================================================


/*==================MIDDLE PART OF THE GAME==========================*/

.middleArea {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// ========================LEFT HP BAR==============================

.leftHPBar{
  background: url('/images/health-bar.jpg');
  padding: 20px 0;
}
.leftAttackBar{
  background: url('/images/attack-bar.jpg');
  padding: 20px 0;
}
.leftDefBar{
  background: url('/images/defense-bar.jpg');
  padding: 20px 0;
}
.leftHealBar{
  background: url('/images/heal-bar.jpg');
  padding: 20px 0;
}

// =======================================================================

.middleFiller{
  color: #0c3855;
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  padding: 10px 0;
}

// =======================RIGHT HP BAR==================================

.rightHPBar{
  background: url('/images/health-bar.jpg');
  padding: 20px 0;
  max-width: 450px;
  align-self: flex-end;
}
.rightAttackBar{
  background: url('/images/attack-bar.jpg');
  padding: 20px 0;
  align-self: flex-end;
}
.rightDefBar{
  background: url('/images/defense-bar.jpg');
  padding: 20px 0;
  align-self: flex-end;
}
.rightHealBar{
  background: url('/images/heal-bar.jpg');
  padding: 20px 0;
  align-self: flex-end;
}

/*======================RIGHT PART OF THE GAME=========================*/

// =======================RIGHT CHARACTER================================

.rightCharacter{
  width: 27.5%;
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightSlateGrey;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
  background: url('/images/character-card.jpg');
}
.rightPhoto{
  background: #000;
  border: 3px solid black;
  margin: 15px 15px auto 0;
  width: 340px;
  height: 340px;
  align-self: flex-end;
  overflow: hidden;
}
.rightImg{
  height: 340px;
  width: 340px;
}
.rightName{
  color: white;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
}
.rightStats{
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
}
.rightHP{
  margin: auto 10px;
}
.rightHPValue{
  margin: auto 10px;
}
.rightAV{
  margin: auto 10px;
}
.rightAVValue{
  margin: auto 10px;
}
.rightDV{
  margin: auto 10px;
}
.rightDVValue{
  margin: auto 10px;
}
.rightHV{
  margin: auto 10px;
}
.rightHVValue{
  margin: auto 10px;
}
.rightButtons{
  margin: 15px 10px;
  display: flex;
  justify-content: space-around;
}
.rightAttackButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}
.rightChargeButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}
.rightHealButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}

// ==================================================================

.rightFiller{
  width: 10%;
  padding: 220px 0;
}

/*===================BOTTOM PART OF THE GAME===========================*/

.bottomSpacer{
  display: flex;
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  height: 100px;
}
.bottomSpacerLeft{
  width: 10%;
}
.bottomSpacerLeftChar{
  width: 27.5%;
  font-family: cursive;
}
.bottomSpacerMiddle{
  width: 35%;
}
.bottomSpacerRightChar{
  width: 27.5%;
  font-family: cursive;
}
.bottomSpacerRight{
  width: 10%;
}
/*=====================================================================*/

header {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}
h1 {
  margin: 0;
  color: #0c3855;
}
footer {
  text-align: center;
  font-size: 50px;
}
.resetButton{
  background: url('/images/buttons.jpg') no-repeat;
  background-size: cover;
  font-size: 50px;
  text-align: left;
  border-radius: 10px;
}
