* {
box-sizing: border-box;
}
body {
  background-color: gold;
  color: black;
}
img {
  max-width: 100%;
}
main {
  width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  display: block;
}

/*=====================CLASSES INSIDE GAME=========================*/

/*=====================TOP PART OF THE GAME========================*/

.topSpacer{
  clear: both;
  background: #0c3855;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 90px;
}

/*===================MIDDLE PART OF THE GAME=======================*/

.centerArea {
  display: flex;
}

/*=====================LEFT SIDE OF THE GAME======================*/

.leftFiller{
  width: 10%;
  padding: 10px 0;
}
.lightBox{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 70px 0;
  background-color: steelBlue;
  border-radius: 10px;
}
.leftLights{
  margin: 2px auto;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  background-color: black;
  &:hover {
    background: gold;
    color: #0c3855;
  }
}

// =====================LEFT CHARACTER==============================

.leftCharacter{
  border: 5px solid black;
  border-radius: 10px;
  width: 27.5%;
  background: url('/images/character-card.jpg');
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
}
.leftPhoto{
  border: 5px solid black;
  margin: 15px 0 auto 15px;
  width: 350px;
  height: 350px;
}
.leftImg{
  width: 340px;
  height: 340px;
}
.leftName{
  color: gold;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
  &:hover {
    background: gold;
    color: #0c3855;
  }
}
.leftStats{
  color: gold;
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
  &:hover {
    background: gold;
    color: #0c3855;
  }
}
.leftHP{
  margin: auto 10px;
}
.leftHPValue{
  margin: auto 10px;
}
.leftAV{
    margin: auto 10px;
}
.leftAVValue{
  margin: auto 10px;
}
.leftDV{
    margin: auto 10px;
}
.leftDVValue{
  margin: auto 10px;
}
.leftHV{
  margin: auto 10px;
}
.leftHVValue{
  margin: auto 10px;
}
.leftButtons{
    margin: 5px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
}
.leftAttackButton{
  font-size: 16px;
  height: 30px;
  width: 70px;
  color: gold;
  background-color: #0c3855;
  border: 2px solid gold;
  border-top: none;
  border-bottom: none;
  &:hover {
    background-color: gold;
    color: #0c3855;
  }
}
.leftChargeButton{
  font-size: 16px;
  height: 30px;
  width: 70px;
  color: gold;
  background-color: #0c3855;
  border: 2px solid gold;
  border-top: none;
  border-bottom: none;
  &:hover {
    background-color: gold;
    color: #0c3855;
  }
}
.leftHealButton{
  font-size: 16px;
  height: 30px;
  width: 70px;
  color: gold;
  background-color: #0c3855;
  border: 2px solid gold;
  border-top: none;
  border-bottom: none;
  &:hover {
    background-color: gold;
    color: #0c3855;
  }
}

/*==================MIDDLE PART OF THE GAME==========================*/

.middleArea {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// ========================LEFT HP BAR==============================

.leftHPBar{
  background: url('/images/health-bar.jpg');
  padding: 25px 0;
  margin-bottom: 10px;
  border-top-right-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}
.leftAttackBar{
  background: url('/images/attack-bar.jpg');
  padding: 5px 0;
  margin-bottom: 5px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}
.leftDefBar{
  background: url('/images/defense-bar.jpg');
  padding: 5px 0;
  margin-bottom: 5px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}
.leftHealBar{
  background: url('/images/heal-bar.jpg');
  padding: 5px 0;
  margin-bottom: 5px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}

// =======================================================================

.middleFiller{
  border: 5px solid black;
  background-color: #0c3855;
  color: gold;
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  padding: 5px 0;
  &:hover {
    background: gold;
    color: #0c3855;
  }
}

// =======================RIGHT HP BAR==================================

.rightHPBar{
  background: url('/images/health-bar.jpg');
  padding: 25px 0;
  margin-top: 10px;
  align-self: flex-end;
  border-bottom-left-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}
.rightAttackBar{
  background: url('/images/attack-bar.jpg');
  padding: 5px 0;
  align-self: flex-end;
  margin-top: 5px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}
.rightDefBar{
  background: url('/images/defense-bar.jpg');
  padding: 5px 0;
  align-self: flex-end;
  margin-top: 5px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}
.rightHealBar{
  background: url('/images/heal-bar.jpg');
  padding: 5px 0;
  align-self: flex-end;
  margin-top: 5px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border: 5px solid black;
  &:hover {
    background: #0c3855;
  }
}

/*======================RIGHT PART OF THE GAME=========================*/

// =======================RIGHT CHARACTER================================

.rightCharacter{
  width: 27.5%;
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightSlateGrey;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
  background: url('/images/character-card.jpg');
}
.rightPhoto{
  border: 5px solid black;
  margin: 15px 15px auto 0;
  width: 350px;
  height: 350px;
  align-self: flex-end;
  overflow: hidden;
  &:hover {
    background: url('/images/david-hasselhoff-alternate.gif');
  }
}
.rightImg{
  height: 340px;
  width: 340px;
}
.rightName{
  color: gold;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
  &:hover {
    background: gold;
    color: #0c3855;
  }
}
.rightStats{
  color: gold;
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 2px solid black;
  background: url('/images/stats-bar.jpg');
  &:hover {
    background: gold;
    color: #0c3855;
  }
}
.rightHP{
  margin: auto 10px;
}
.rightHPValue{
  margin: auto 10px;
}
.rightAV{
  margin: auto 10px;
}
.rightAVValue{
  margin: auto 10px;
}
.rightDV{
  margin: auto 10px;
}
.rightDVValue{
  margin: auto 10px;
}
.rightHV{
  margin: auto 10px;
}
.rightHVValue{
  margin: auto 10px;
}
.rightButtons{
  margin: 15px 10px;
  display: flex;
  justify-content: space-around;
}
.rightAttackButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}
.rightChargeButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}
.rightHealButton{
  height: 30px;
  width: 70px;
  color: white;
  background: url('/images/buttons.jpg');
  border-radius: 10px;
}

// ==================================================================

.rightFiller{
  width: 10%;
  padding: 10px 0;
}
.rightLights{
  margin:  2px auto;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  background-color: black;
  &:hover {
    background: gold;
    color: #0c3855;
  }
}
.lightBox{
  border-radius: 90px;
  border: 5px solid black;
}
.topLight{
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}
.bottomLight{
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}
/*===================BOTTOM PART OF THE GAME===========================*/

.bottomSpacer{
  display: flex;
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  height: 100px;
}
.bottomSpacerLeft{
  width: 10%;
}
.bottomSpacerleftChar{
  width: 27.5%;
  font-family: cursive;
  font-size: 19px;
  color: #0c3855;
}
.bottomSpacerMiddle{
  width: 35%;
}
.bottomSpacerrightChar{
  width: 27.5%;
  font-family: cursive;
  font-size: 19px;
  color: #0c3855;
}
.bottomSpacerRight{
  width: 10%;
}
/*=====================================================================*/

header {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 30px;
}
h1 {
  margin: 0;
  color: #0c3855;
}
.topLine{
  width: 1500px;
  clear: both;
  background: #0c3855;
  padding: 10px 0;
  border-radius: 90px;
}
footer {
  color: #0c3855;
  text-align: left;
  font-size: 40px;
  width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.bottomLine {
  width: 1500px;
  clear: both;
  background: #0c3855;;
  padding: 10px 0;
  border-radius: 90px;
}
.bottomSandwich {
  display: flex;
  justify-content: space-between;
}
.bottomNote{
  align-self: center;
}
.resetButton{
  float: right;
  color: #0c3855;
  background-color: gold;
  background-size: cover;
  font-size: 40px;
  text-align: left;
  border: none;
  border-left: 5px solid #0c3855;
  border-right: 5px solid #0c3855;
  margin: 5px 30px 5px 0;
  &:hover {
    background-color: #0c3855;
    color: gold;
  }
}
